<p id="notice"><%= notice %></p>

<% unless @entry.client_id %>
  <%# @entry.client_id %>
  shitballs
<% end %>
<%= link_to 'Edit', edit_client_entry_path(@client, @entry) %> |
<%= link_to 'Back', client_entries_path(@client) %>
