/*
 *= require_self
 *= require_tree .
*/
@import "compass";
@import "compass/css3/user-interface";

.content {
  background-color: #f9f9f9;
  padding: 20px;
  margin: -20px -20px 0; /* negative indent the amount of the padding to maintain the grid system */
  @include border-radius(0 0 6px 6px);
  @include box-shadow(rgba(0,0,0,.15) 0 1px 2px)
}

/* Privacy Filters */
body {
  @include user-select(none);
  
  .private-data {
    @include box-shadow(rgba(0,0,0,0.2) 0 0 4px inset);
    background-color: rgba(0,0,0,0.2);
    display: inline-block;
    min-width: 50px;

    span {
      display: inline-block;
      visibility: hidden;
    }
    
    &:before {
      color: black;
      content: "Private";
      font-size: 10px;
      padding-left: 5px;
      position: absolute;
      text-align: right;
      text-transform: uppercase;
    }
  }
  
  td.private-data {
    display: table-cell;
  }
  
  &.shown {
    @include user-select(all);
    
    .private-data {
      @include box-shadow(none);
      background-color: transparent;

      span {
        visibility: visible;
        @include user-select(all);
      }
      
      &:before {
        content: "";
        display: none;
      }
    }
  }
}

table {
  border: none;
  font-weight: 400;
  
  thead {
    border-bottom: 2px solid #999;
    
    tr {
      color: #777;
      font-size: 14px;
      line-height: 32px;
    }
  }
  
  tbody {
    tr {
      line-height: 32px;
    }
  }
}










