// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


form {
  .checkboxes {
    float: left;
    margin-right: 30px;
    
    .other {
      margin-left: 19px;
    }
  }
}